#dodatno {
    display: none;
    width: 400px;
    grid-template-columns: 1fr;
    color: darkred;
    row-gap: 15px;
}

#prijava {
    background-color: powderblue;
}

#predmeti {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    row-gap: 5px;
}

.predmet {
    text-align: center;
    background-color: powderblue;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}

#odjava {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: powderblue;
}